@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
span {
  margin: 0px;
  padding: 0px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-logo:active {
  opacity: 0.5;
}

.list-navbar {
  width: 30%;
  padding: 10px 30px !important;
  background-color: dodgerblue;
  text-align: center;
  border-radius: 40px;
}

.list-navbar > li > a {
  color: white !important;
}

.header ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.header ul li a:hover {
  opacity: 0.7;
}

.header ul li a:active {
  opacity: 0.5;
}

/*HOME*/
#conteneur-home {
  width: 100%;
  background: url(./picture/r.webp)
    fixed 100% no-repeat;
  background-size: cover;
  height: 200px;
  padding: 119.5px 0px 600px 0px;
  text-align: center;
}

.home {
  max-width: 50%;
  margin: auto;
  padding-top: 150px;
}

.home h1 {
  font-weight: 100;
  font-size: 50px;
  color: #eee;
  padding: 0px 0px 5px 0px;
}

.home .txt {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 40px;
  color: #171ee3;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.home h2 {
  font-weight: 600;
  font-size: 48px;
  background-color: #171ee3;
  color: #ffffff;
  border-radius: 40px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
/*ABOUT*/
#conteneur-about {
  padding: 30px 100px;
}

.about {
  max-width: 400px;
  width: 100%;
  margin: auto;
}
video {
  border-radius: 20px;
}

.about-heading {
  text-align: center;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: #171ee3;
  color: white;
  border-radius: 10px;
  padding: 20px 0 20px 0;
  margin-bottom: 40px;
}
.profil-photo img {
  width: 90%;
}
.profil-photo {
  border-radius: 20px;
  box-shadow: 0px 0px 2px 2px gray;
  transition: 0.5s;
}
.profil-photo:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: scale(0.9);
}

.video-wrapper {
  margin: auto;
  max-width: 1300px;
}
.video__title {
  width: 400px;
  height: 225px;
  border-radius: 20px;
}
#conteneur-footer {
  padding: 10px 0px;
  background-color: #e7e7e7;
  color: #000000;
  text-align: center;
}
#txt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3.5px;
  font-size: 3.7rem;
  font-weight: 700;
  position: relative;
  transform-style: preserve-3d;
  perspective: 100px;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 100px;
}
#txt > b {
  height: 3.5rem;
  box-shadow: 0 0.4rem 0.3rem -0.3rem #aaa;
  color: #000000;
  background: #000000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: bottom;
  transform: rotateX(-85deg);
  -webkit-transform-origin: bottom;
  -webkit-transform: rotateX(-85deg);
  animation: getUp 7s infinite;
  margin-bottom: 30px;
}
.mt-3 {
  transition: 0.5s;
}
.mt-3:hover {
  transform: scale(0.9);
}
/*! fixed social*/
#fixed-social {
  position: fixed;
  top: 40%;
}

#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
  z-index: 2;
}
#fixed-social a:hover > span {
  visibility: visible;
  left: 41px;
  opacity: 1;
}
#fixed-social a span {
  line-height: 40px;
  left: 60px;
  position: absolute;
  text-align: center;
  width: 120px;
  visibility: hidden;
  transition-duration: 0.5s;
  z-index: 1;
  opacity: 0;
}
.fixed-facebook {
  background-color: #3b5998;
}
.fixed-facebook span {
  background-color: #3b5998;
}
.fixed-telegram {
  background-color: #ffffff;
}
.fixed-telegram span {
  background-color: #ffffff;
  color: #229ed9;
}
.fixed-instagrem {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.fixed-instagrem span {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.footer h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
/*end fixed social*/

/* ! RESPONSIVE */
@media only screen and (max-width: 1000px) {
  .about {
    justify-content: center;
  }

  .profil-text {
    width: 0;
    max-width: 600px;
    width: 100%;
  }

  .profil-text p {
    margin-top: 30px;
    transition: 0.5s;
  }
  video {
    max-width: 600;
    width: 100%;
    height: 400;
  }
}

@media (max-width: 800px) {
  #conteneur-home {
    height: 700px !important;
  }
}

.list-books li a img {
  border-radius: 20px;
}

.list-books li a:active {
  opacity: 0.5;
}
