@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body{
  margin:0px;
  padding:0px;
  width:100%;
  font-size:15px;
  font-family:century gothic;
}
div, p, h1, h2, h3, h4, h5, ul, li, a, span{
  margin:0px;
  padding:0px;
}
.clear{
  clear:both;
}
#conteneur-id{
  width:100%;
}
/*MENU*/
#conteneur-menu{

}
.menu{
  width:100%;
  background-color:white;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.2);
  margin:auto;
  text-align:center;
  position:fixed;
  z-index:999;
}
.menu ul{
  width:100%;
  margin:auto;
  padding:15px 0px;
}
.menu li{
  display:inline-block;
  padding:5px;
}
.menu a{
  text-decoration:none;
  color:black;
  background-color:#DDD;
  transition:0.4s;
  padding:5px 25px;
}
.menu a:hover{
  text-decoration:none;
  color:#999;
  background-color:#FFF;
  transition:0.4s;
}
/*HOME*/
#conteneur-home{
  width:100%;
  background:url(https://t3.ftcdn.net/jpg/04/61/56/72/360_F_461567280_wIu59PUADH3keuOlrV6m9zHsXlDhKJPT.jpg) fixed 100% no-repeat;
  background-size:cover;
  padding:159.5px 0px 300px 0px;
  text-align:center;
}
.home{
  width:100%;
}
.home h1{
  font-weight:100;
  font-size:50px;
  color:#EEE;
  padding:0px 0px 5px 0px;
}
.home h2{
  font-weight:600;
  font-size:45px;
  color:#ff0000;
  text-transform:uppercase;
  font-family: 'Roboto', sans-serif;
}
/*ABOUT*/
#conteneur-about{
  padding:100px 100px;
}
.about{
  max-width:960px;
  width:100%;
  margin:auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-mg {
  margin-top: 60px;
}
.about-heading {
  text-align: center;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  background: #e4e4e4;
  border-radius: 10px;
  padding: 20px 0 20px 0;
  margin-bottom: 40px;
}
.profil-photo img{
  width:90%;
}
.profil-text{
  width:50%;
  float:left;
  position:relative;
}
.profil-text h2{
  padding-bottom:15px;
  font-size:25px;
  font-weight:100;
  text-transform:uppercase;
}
.profil-text p{
  margin-left: 30px;
  padding-bottom:75px;
  text-align:justify;
}
.profil-text a{
  position:absolute;
  bottom:0px;
  left:0px;
  text-decoration:none;
  color:black;
  background-color:#DDD;
  transition:0.4s;
  padding:5px 25px;
  border:1px solid white;
}
.profil-text a:hover{
  text-decoration:none;
  color:#999;
  border:1px solid #999;
  background-color:#FFF;
  transition:0.4s;
}
#conteneur-footer{
  padding:10px 0px;
  background-color:#e7e7e7;
  color:#000000;
  text-align:center;
}
.footer a{
  color:#FFF;
  text-decoration:none;
  padding-top:50px;
  transition:0.4s;
}
.footer a:hover{
  color:#DDD;
  text-decoration:none;
  transition:0.4s;
}

#txt{
  display:flex;
  align-items:center;
  justify-content:center;
  flex:1;
  font-family:'Roboto', sans-serif;
  letter-spacing:3.5px;
  font-size:3.7rem;
  font-weight:700;
  position:relative;
  transform-style:preserve-3d;
  perspective:100px;
  -webkit-transform-style:preserve-3d;
  -webkit-perspective:100px;
}
#txt>b{
  height:3.5rem;
  box-shadow:0 .4rem .3rem -.3rem #aaa;
  color:#000000;
  background:#000000;
  background-clip:text;
  text-fill-color:transparent;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  transform-origin:bottom;
  transform:rotateX(-85deg);
  -webkit-transform-origin:bottom;
  -webkit-transform:rotateX(-85deg);
  animation:getUp 7s infinite;
  margin-bottom: 30px;
}
#txt>b:nth-child(2){
  animation-delay:.25s;
}
#txt>b:nth-child(3){
  animation-delay:.5s;
}
#txt>b:nth-child(4){
  animation-delay:.75s;
}
#txt>b:nth-child(5){
  animation-delay:1s;
}
#txt>b:nth-child(6){
  animation-delay:1.25s;
}
#txt>b:nth-child(7){
  animation-delay:1.5s;
}
#txt>b:nth-child(8){
  animation-delay:1.75s;
}
#txt>b:nth-child(9){
  animation-delay:2s;
}
#txt>b:nth-child(10){
  animation-delay:2.25s;
}
#txt>b:nth-child(11){
  animation-delay:2.5s;
}
@keyframes getUp{
  10%,50%{
     transform:rotateX(0);
  }
  0%,60%,100%{
     transform:rotateX(-85deg);
  }
}

/*! fixed social*/
/* fixed social*/
#fixed-social {
  position: fixed;
  top: 40%;
}

#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
   line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
  z-index: 2;
}
#fixed-social a:hover>span{
 visibility: visible;
 left: 41px;
 opacity: 1;
}
#fixed-social a span {
 line-height: 40px;
   left: 60px;
   position: absolute;
   text-align: center;
   width: 120px;
   visibility: hidden;
   transition-duration: 0.5s;
   z-index: 1;
   opacity: 0;
}
.fixed-facebook{
  background-color: #3b5998 ;
}
.fixed-facebook span{
	background-color: #3b5998;
 }
.fixed-telegram{
 background-color: #ffffff;
}
.fixed-telegram span{
 background-color: #ffffff;
 color: #229ED9;
}
.fixed-instagrem{
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 )
}
.fixed-instagrem span{
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 )
}
/*end fixed social*/

@media only screen and (max-width: 1000px) {

  .about {
    justify-content: center;
  }

  .profil-text {
    width: 0;
    max-width: 600px;
    width: 100%;
  }

  .profil-text p{
    margin-top: 30px;
  }

  video {
    width: 600;
    height: 400;
  }

}